/**
 * Color Variables
 * ------------------------------------------------------------
 */

:root {

  /**
   * Primary Color: This color is used as the base UI color.
   */

  --primary-color-50: rgb(250, 250, 250);
  --primary-color-100: rgb(245, 245, 245);
  --primary-color-200: rgb(238, 238, 238);
  --primary-color-300: rgb(224, 224, 224);
  --primary-color-400: rgb(189, 189, 189);
  --primary-color-500: rgb(158, 158, 158);
  --primary-color-600: rgb(117, 117, 117);
  --primary-color-700: rgb(97, 97, 97);
  --primary-color-800: rgb(66, 66, 66);
  --primary-color-900: rgb(33, 33, 33);

  /**
   * Don't use the base colors here in components, create a new variable with a
   * semantic name and reference these colors there.
   */

  --base-black: rgb(0, 0, 0);
  --base-white: rgb(255, 255, 255);
}
